<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="js/script.js"></script>
	
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#"> 
			<legend>
				Notch Up Challenge
			</legend>
		</a>
		<li class="nav-item">
			<a class="nav-link" href="https://github.com/Sarthak2608">
				Source Code
			</a>
		</li>
	</nav>
	<br>


<form action="/selectSlot">

	<div class="container" style="margin-left:10%;margin-right:12%;">	
		<fieldset>
			<div class="form-group row">
		  		<label for="staticEmail" class="col-sm-2 col-form-label">
		  			Parent's Name:	
		  		</label>
		  		<div class="col-sm-10">
		  			<input type="" name="pname" required>	
		  		</div>
		  	</div>

		  	<div class="form-group row">
		  		<label for="staticEmail" class="col-sm-2 col-form-label">
		  			Parent's Contact Number:	
		  		</label>
		  		<div class="col-sm-10">
		  			<input type="" name="pcontact" required>		
		  		</div>
		  	</div>

		  	<div class="form-group row">
			   	<label for="staticEmail" class="col-sm-2 col-form-label">
			   		Parent's Email:		
			   	</label>
			   	<div class="col-sm-10">
			    	<input type="email" name="pemail" required>		
			    </div>
			</div>

			<div class="form-group row">
				<label for="staticEmail" class="col-sm-2 col-form-label">
					Child's Number:		
				</label>
				<div class="col-sm-10">
					<input type="" name="cname" required>
				</div>
			</div>


			<div class="form-group row">
				<label for="staticEmail" class="col-sm-2 col-form-label">
					Child Age:		
				</label>
				<div class="col-sm-10">
					<input type="" name="cage" required>
				</div>
			</div>

			<div class="form-group row">
				<label for="staticEmail" class="col-sm-2 col-form-label">
					Course Name:	
				</label>
				<div class="col-sm-10">
					<select name="ccourseName">
					    <option value="Scratch Junior">Scratch Junior</option>
					    <option value="Web Development">Web Development</option>
					    <option value="App Development">App Development</option>
					    <option value="Python">Python</option>
					    <option value="Game Developments">Game Development</option>
				    </select>		
				</div>
			</div>

			<input type="submit" name="" value="submit" class="btn btn-primary">		

		</fieldset>
	</div>	

</form>

</body>
</html>